ion-item {
  margin-bottom: 10px;
  --border-radius: 8px;
  --background: var(--ion-color-light);
}

.error-message {
  color: var(--ion-color-danger);
  font-size: 12px;
  margin: 5px 15px 15px 15px;
  
  span {
    display: block;
  }
}

.password-toggle-btn {
  --color: var(--ion-color-medium);
  --padding-start: 0;
  --padding-end: 0;
  margin: 0;
  
  &:hover {
    --color: var(--ion-color-primary);
  }
}